# СБИС
SBIS_LOGIN=your_email@yandex.ru
SBIS_PASSWORD=your_password

# Telegram
TELEGRAM_TOKEN=your_telegram_token
TELEGRAM_CHAT_ID=your_chat_id
SEND_TO_TELEGRAM=True

# Почта
IMAP_SERVER=imap.yandex.ru
MAIL_EMAIL=your_email@yandex.ru
MAIL_PASSWORD=your_app_password

# Настройки
STORE_NAME=Zibo Food
HEADLESS_MODE=True
MAX_RETRIES=3
RETRY_DELAY=5
PROXY_ENABLED=False
PROXY=

# Целевой диапазон
TARGET_MIN=580
TARGET_MAX=620